In [1]:
import pandas as pd
import os
import pyodbc
from pathlib import Path
#from dotenv import find_dotenv, load_dotenv
import numpy as np
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
import boto3
from io import StringIO
import datetime
from multiprocessing import Pool
import traceback
import logging
import gc

In [5]:
CONX_STR = '''driver={SQL Server Native Client 11.0};
              server=mss-p1-pdw-01,17001;database=EXDWDM;
              Trusted_Connection=yes;'''

def make_connection():
    "return PDW db connection object"
    # TODO: sqlalchemy engine to address pandas warning
    # connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": CONX_STR})
    # engine = create_engine(connection_url)
    # return engine
    #     sqlalchemy.exc.ProgrammingError: (pyodbc.ProgrammingError) ('42000', '[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]111214;An attempt to complete a transaction has failed. No corresponding transaction found. (111214) (SQLEndTran)')
    # (Background on this error at: http://sqlalche.me/e/14/f405)

    return pyodbc.connect(CONX_STR)

In [16]:

sql_query = """
            SELECT 
                AUDITCORRELATIONID,
                ORDERDATETIME,
                ORDERID
            FROM EXDWDM.dbo.POPORDER
            """
conn=make_connection()
df=pd.read_sql(sql_query,conn)
conn.close()
print(df)

C:\Users\A084866.PROG1\AppData\Local\Temp\23\ipykernel_95080\3095181363.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(sql_query,conn)

                                 AUDITCORRELATIONID           ORDERDATETIME  \
0          0B7A6892-D64C-4CB4-8F77-B9B42A4BE2BF     2023-12-22 12:25:07.263
1          44AA674D-72EA-4D10-AAC9-D9542E0434FD     2023-07-01 14:28:23.180
2          1956C493-4007-43D3-B24D-B702B2ED5A65     2023-06-29 14:39:47.850
3          F612683D-33B3-40B9-889B-8B199E4BAE82     2023-12-23 09:46:05.887
4          2DEB074A-93F5-4D79-A600-B0E0A14446D7     2023-06-29 15:09:10.750
...                                             ...                     ...
811238000  00160669-A00D-1226-5735-B00E0012700C     2022-09-06 12:26:57.400
811238001  00160670-A00D-0920-3009-B00E0082779C     2022-09-07 09:20:30.110
811238002  00160670-A00D-1630-1866-B00E0046329C     2022-09-07 16:30:18.680
811238003  00160670-A00D-1631-2474-B00E0002988C     2022-09-07 16:31:24.757
811238004  00160670-A00D-1631-3545-B00E0037198C     2022-09-07 16:31:35.463

             ORDERID
0          748454011
1          701313293
2          700722073
3          748674431
4          700739478
...              ...
811238000  580555283
811238001  580993910
811238002  581266713
811238003  581267434
811238004  581267546

[811238005 rows x 3 columns]